@import 'variables' ;

.modal-box {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  background-color: $white;
  box-shadow: 24;
  border-radius: 5px;
}