$bg-img: url('./assets/images/loginbackground.png');
$background: #f8f8f8;
$light-grey: #fcfbfa;
$grey: #c4c4c4;
$error: #FF3333;
$primary: #01225a;
$secondary: #54b9e8;
$disable: #c3cbd8bb;
$border: #949494;
$white: #ffffff;